* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* INPUT, SELECT */

.custom-input, .custom-select{
    border-color:#820053;
    box-shadow: #820053;
}

.custom-input:focus, 
.custom-select:focus{
    box-shadow: 0 0 5px #820053;
    border-color: #820053;
}

.button {
    font-weight: 400;
    justify-content: space-between;
    background-color: #820053;
    border-color: transparent;
}

.button:hover,
.button:focus {
    background-color: #a20067 !important;
    border-color: transparent;
}
