.dropdown-toggle-left {
    color:#616161;
    border-color: #820053;
    background-color: transparent !important;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    box-shadow: #820053;
}

.dropdown-toggle-left:hover,
.dropdown-toggle-left:active{
    color:#616161;
    border-color: #820053 !important;
    background-color: none !important;
    box-shadow: #820053;
}

.dropdown-toggle-left:focus{
    color:#616161;
    border-color: #820053;
    box-shadow: 0 0 5px #820053;
}

.custom-input{
    border-color:#820053;
    box-shadow: #820053;
}

.custom-input:focus{
    box-shadow: 0 0 5px #820053;
    border-color: #820053;
}

  